In [130]:
import pandas as pd

##### Make the first column("ID") as index column

In [131]:
df = pd.read_csv('train.csv',index_col=0)

##### Display the first 5 rows to check the data

In [132]:
df.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
id,,,,,,,,,,,,,,,,,,
1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

##### Created few functions to perform data preprocessing and impute null values

In [133]:
def signup(x):
    if(pd.isnull(x)):
        return 'No_Value'
    else:
        return (x[:4])
def camp_var1(x):
    if(x<9):
        return 10
    elif(x<13):
        return 4
    else:
        return 1
def camp_var2(x):
    if(x<7):
        return 10
    elif(x<10):
        return 7
    else:
        return 1
def buyer(x):
    if(pd.isnull(x)):
        return 0
    elif(x<3):
        return int(5)
    else:
        return int(10)
def created(x):
    return(int(x[5:7]))

In [134]:
df['signup_date']=df['signup_date'].apply(signup)

In [135]:
df['campaign_var_1']=df['campaign_var_1'].apply(camp_var1)

In [136]:
df['campaign_var_2']=df['campaign_var_2'].apply(camp_var2)

In [137]:
df['products_purchased']=df['products_purchased'].apply(buyer)

In [138]:
df['created_at']=df['created_at'].apply(created)

##### Creating dummy variable i.e OneHotEncoding

In [139]:
dum1=pd.get_dummies(df['campaign_var_1'],prefix='campaign_var_1')

In [140]:
dum2=pd.get_dummies(df['campaign_var_2'],prefix='campaign_var_2')

In [141]:
dum3=pd.get_dummies(df['signup_date'],prefix='signup')

In [142]:
dum4=pd.get_dummies(df['products_purchased'],prefix='products_purchased')

##### Adding the extra columns to the data table

In [143]:
df=pd.concat([df,dum1,dum2,dum3,dum4],axis=1)

In [144]:
df

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,...,signup_2017,signup_2018,signup_2019,signup_2020,signup_2021,signup_2022,signup_No_Value,products_purchased_0,products_purchased_5,products_purchased_10
id,,,,,,,,,,,,,,,,,,,,,
1,1,10,10,5,2020,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,10,10,5,2020,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
3,1,4,10,10,2021,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,1,10,7,5,2017,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
5,1,10,10,0,2020,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39157,12,4,1,5,2017,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
39158,12,10,7,10,No_Value,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
39159,12,10,7,5,No_Value,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
39160,12,10,1,5,No_Value,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
39161,12,10,10,0,2019,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [145]:
df.columns

Index(['created_at', 'campaign_var_1', 'campaign_var_2', 'products_purchased',
       'signup_date', 'user_activity_var_1', 'user_activity_var_2',
       'user_activity_var_3', 'user_activity_var_4', 'user_activity_var_5',
       'user_activity_var_6', 'user_activity_var_7', 'user_activity_var_8',
       'user_activity_var_9', 'user_activity_var_10', 'user_activity_var_11',
       'user_activity_var_12', 'buy', 'campaign_var_1_1', 'campaign_var_1_4',
       'campaign_var_1_10', 'campaign_var_2_1', 'campaign_var_2_7',
       'campaign_var_2_10', 'signup_2015', 'signup_2016', 'signup_2017',
       'signup_2018', 'signup_2019', 'signup_2020', 'signup_2021',
       'signup_2022', 'signup_No_Value', 'products_purchased_0',
       'products_purchased_5', 'products_purchased_10'],
      dtype='object')

In [146]:
from sklearn.model_selection import train_test_split

##### I've omitted the created_at column as it was having negative effects on the model and it's not much of an influencer

In [147]:
X = df[['user_activity_var_1','user_activity_var_2',
       'user_activity_var_3','user_activity_var_4','user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
       'user_activity_var_8','user_activity_var_9','user_activity_var_11','user_activity_var_10','user_activity_var_12','campaign_var_1_1', 'campaign_var_1_4',
       'campaign_var_1_10', 'campaign_var_2_1', 'campaign_var_2_7',
       'campaign_var_2_10', 'signup_2015', 'signup_2016', 'signup_2017',
       'signup_2018', 'signup_2019', 'signup_2020', 'signup_2021',
       'signup_2022', 'signup_No_Value', 'products_purchased_0',
       'products_purchased_5', 'products_purchased_10']]
y = df['buy']

##### Duplicating the features as the model was not performing good enough at first because of bias. To increase the complexity of the model, I'm creating duplicate features by multiplying a constant and raising it to a power of 2.

In [148]:
X=pd.concat([X,X*18,(X*18)**2],axis=1)

In [149]:
X

,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_11,...,signup_2017,signup_2018,signup_2019,signup_2020,signup_2021,signup_2022,signup_No_Value,products_purchased_0,products_purchased_5,products_purchased_10
id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,1,1,0,0,...,0,0,0,68,0,0,0,0,68,0
2,1,0,1,0,0,0,1,0,0,0,...,0,0,0,68,0,0,0,0,68,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,68,0,0,0,0,68
4,0,0,0,0,0,0,0,0,0,0,...,68,0,0,0,0,0,0,0,68,0
5,0,0,0,0,0,0,1,0,0,1,...,0,0,0,68,0,0,0,68,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39157,1,0,0,0,1,1,1,0,0,0,...,68,0,0,0,0,0,0,0,68,0
39158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,68,0,0,68
39159,1,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,68,0,68,0
39160,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,68,0,68,0
39161,1,0,0,0,0,0,1,0,0,0,...,0,0,68,0,0,0,0,68,0,0

##### Splitting the Train and Test dataset and Assigning random state so that the model will produce the same result everytime we reload it

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=18)

In [151]:
from sklearn.linear_model import LogisticRegression

In [152]:
logmodel = LogisticRegression(solver='lbfgs',n_jobs=4,)
logmodel.fit(X_train,y_train)

LogisticRegression(n_jobs=4)

##### Assigning a threshold for the sigmoid function, instead of the defaut threshold I'm assigning 0.35 as the threshold value as it gives better results

In [153]:
threshold=0.35

In [154]:
predictions = (logmodel.predict_proba(X_test)[:,1]>=threshold).astype(int)

In [155]:
pd.value_counts(predictions)

0    18918
1      663
dtype: int64

In [156]:
from sklearn.metrics import classification_report,confusion_matrix

In [157]:
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     18590
           1       0.88      0.59      0.71       991

    accuracy                           0.98     19581
   macro avg       0.93      0.79      0.85     19581
weighted avg       0.97      0.98      0.97     19581

[[18512    78]
 [  406   585]]

## Importing the test data set

In [158]:
df2=pd.read_csv('test.csv',index_col=0)

In [159]:
df2['signup_date']=df2['signup_date'].apply(signup)
df2['campaign_var_1']=df2['campaign_var_1'].apply(camp_var1)
df2['campaign_var_2']=df2['campaign_var_2'].apply(camp_var2)
df2['products_purchased']=df2['products_purchased'].apply(buyer)
df2['created_at']=df2['created_at'].apply(created)
dum1=pd.get_dummies(df2['campaign_var_1'],prefix='campaign_var_1')
dum2=pd.get_dummies(df2['campaign_var_2'],prefix='campaign_var_2')
dum3=pd.get_dummies(df2['signup_date'],prefix='signup')
dum4=pd.get_dummies(df2['products_purchased'],prefix='products_purchased')
df2=pd.concat([df2,dum1,dum2,dum3,dum4],axis=1)

In [160]:
df2.columns

Index(['created_at', 'campaign_var_1', 'campaign_var_2', 'products_purchased',
       'signup_date', 'user_activity_var_1', 'user_activity_var_2',
       'user_activity_var_3', 'user_activity_var_4', 'user_activity_var_5',
       'user_activity_var_6', 'user_activity_var_7', 'user_activity_var_8',
       'user_activity_var_9', 'user_activity_var_10', 'user_activity_var_11',
       'user_activity_var_12', 'campaign_var_1_1', 'campaign_var_1_4',
       'campaign_var_1_10', 'campaign_var_2_1', 'campaign_var_2_7',
       'campaign_var_2_10', 'signup_2015', 'signup_2016', 'signup_2017',
       'signup_2018', 'signup_2019', 'signup_2020', 'signup_2021',
       'signup_2022', 'signup_No_Value', 'products_purchased_0',
       'products_purchased_5', 'products_purchased_10'],
      dtype='object')

In [161]:
x_out = df2[['user_activity_var_1','user_activity_var_2',
       'user_activity_var_3','user_activity_var_4','user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
       'user_activity_var_8','user_activity_var_9', 'user_activity_var_11','user_activity_var_10','user_activity_var_12','campaign_var_1_1', 'campaign_var_1_4',
       'campaign_var_1_10', 'campaign_var_2_1', 'campaign_var_2_7',
       'campaign_var_2_10', 'signup_2015', 'signup_2016', 'signup_2017',
       'signup_2018', 'signup_2019', 'signup_2020', 'signup_2021',
       'signup_2022', 'signup_No_Value', 'products_purchased_0',
       'products_purchased_5', 'products_purchased_10']]

In [162]:
x_out=pd.concat([x_out,x_out*18,(x_out*18)**2],axis=1)

In [163]:
x_out

,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_11,...,signup_2017,signup_2018,signup_2019,signup_2020,signup_2021,signup_2022,signup_No_Value,products_purchased_0,products_purchased_5,products_purchased_10
id,,,,,,,,,,,,,,,,,,,,,
39162,1,1,0,0,0,1,0,0,0,1,...,0,0,0,0,68,0,0,68,0,0
39163,1,0,0,0,0,0,0,1,0,0,...,0,0,0,68,0,0,0,0,0,68
39164,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,68,68,0,0
39165,0,0,0,0,1,1,1,0,0,2,...,0,0,0,68,0,0,0,0,68,0
39166,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,68,0,0,0,68,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52341,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,68,68,0,0
52342,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,68,0,68,0,0
52343,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,68,0,0,0,0,68
52344,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,68,68,0,0
52345,0,0,0,0,0,1,1,1,0,1,...,0,0,0,0,0,0,68,68,0,0

In [164]:
predict_out = (logmodel.predict_proba(x_out)[:,1]>=threshold).astype(int)

In [165]:
pd.value_counts(predict_out)

0    12823
1      361
dtype: int64

In [166]:
fin=pd.DataFrame(list(zip(list(df2.index),list(predict_out))),columns=['id','buy'])

In [167]:
fin.to_csv('Final_Submission_V25.csv',index=False)