In [ ]:
!pip install pycaret[full]
!pip install xgboost
!pip uninstall scikit-learn -y
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1

In [ ]:
#Importing Required Stuff
import pandas as pd
import numpy as np
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1
import jinja2

In [ ]:
from pycaret.classification import *
import xgboost

In [16]:
df_train = pd.read_csv('train.csv')
df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaN,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
df_train.isna().sum()

id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64

In [28]:
df_train['created_at'] = pd.to_datetime(df_train['created_at'], format = "%Y-%m-%d")
df_train['signup_date'] = pd.to_datetime(df_train['signup_date'], format = "%Y-%m-%d")
df_train['created_at'].dtypes
df_train['signup_date'].dtypes

df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaT,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaT,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [31]:
df_train['created_at_years'] = df_train['created_at'].dt.year
df_train['created_at_month'] = df_train['created_at'].dt.month
df_train['created_at_week'] = df_train['created_at'].dt.week
df_train['created_at_day'] = df_train['created_at'].dt.day
df_train['created_at_dayofweek'] = df_train['created_at'].dt.dayofweek

df_train['signup_date_year'] = df_train['signup_date'].dt.year
df_train['signup_date_month'] = df_train['signup_date'].dt.month
df_train['signup_date_week'] = df_train['signup_date'].dt.week
df_train['signup_date_at_day'] = df_train['signup_date'].dt.day
df_train['signup_date_at_dayofweek'] = df_train['signup_date'].dt.dayofweek

df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,signup_date_year,signup_date_month,signup_date_week,created_at_day,created_at_dayofweek,signup_date_at_day,signup_date_at_dayofweek
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,2021,1,53,2020.0,9.0,39.0,1,4,24.0,3.0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,2021,1,53,2020.0,9.0,38.0,1,4,19.0,5.0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,2021,1,53,2021.0,8.0,32.0,1,4,11.0,2.0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,...,2021,1,53,2017.0,10.0,40.0,1,4,4.0,2.0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,...,2021,1,53,2020.0,6.0,24.0,1,4,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,...,2021,12,52,2017.0,10.0,42.0,31,4,19.0,3.0
39157,39158,2021-12-31,3,9,3.0,NaT,0,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39158,39159,2021-12-31,8,7,2.0,NaT,1,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39159,39160,2021-12-31,7,12,2.0,NaT,0,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,...,2021,12,52,2019.0,8.0,32.0,31,4,11.0,6.0

In [32]:
s = setup(data = df_train, target = 'buy', session_id=123, ignore_features = ['created_at','signup_date'],numeric_features = ['products_purchased'], numeric_imputation='mean', categorical_imputation='mode', fix_imbalance = True)

                               Description             Value
0                               session_id               123
1                                   Target               buy
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data       (39161, 29)
5                           Missing Values              True
6                         Numeric Features                 6
7                     Categorical Features                20
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set      (27412, 106)
12                    Transformed Test Set      (11749, 106)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              1369
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer              mode
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance              True
59                    Fix Imbalance Method             SMOTE

In [33]:
#Getting the best model
best_model = compare_models(sort = 'F1')

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
et,Extra Trees Classifier,0.9748,0.9283,0.5534,0.9290,0.6932,0.6810,0.7061,8.596
lightgbm,Light Gradient Boosting Machine,0.9745,0.9449,0.5563,0.9164,0.6917,0.6792,0.7026,2.181
gbc,Gradient Boosting Classifier,0.9741,0.9378,0.5542,0.9075,0.6878,0.6751,0.6977,22.150
catboost,CatBoost Classifier,0.9746,0.9433,0.5435,0.9389,0.6878,0.6756,0.7034,49.357
xgboost,Extreme Gradient Boosting,0.9738,0.9390,0.5591,0.8922,0.6868,0.6739,0.6943,24.189
ada,Ada Boost Classifier,0.9728,0.9328,0.5683,0.8569,0.6830,0.6694,0.6851,4.858
rf,Random Forest Classifier,0.9736,0.9271,0.5110,0.9561,0.6651,0.6527,0.6881,6.555
dt,Decision Tree Classifier,0.9508,0.7766,0.5825,0.5218,0.5500,0.5241,0.5252,0.741
lr,Logistic Regression,0.9186,0.9388,0.7728,0.3638,0.4946,0.4565,0.4952,13.545
ridge,Ridge Classifier,0.8988,0.0000,0.7884,0.3107,0.4456,0.4014,0.4546,0.245
lda,Linear Discriminant Analysis,0.8988,0.9335,0.7884,0.3106,0.4455,0.4012,0.4545,1.605
svm,SVM - Linear Kernel,0.8655,0.0000,0.7935,0.3189,0.4347,0.3884,0.4439,2.804
nb,Naive Bayes,0.7561,0.9074,0.8654,0.1612,0.2708,0.2013,0.3052,0.233
knn,K Neighbors Classifier,0.7750,0.6350,0.3701,0.0901,0.1449,0.0677,0.0904,2.397
qda,Quadratic Discriminant Analysis,0.0751,0.5118,0.9986,0.0527,0.1002,0.0025,0.0344,0.830
dummy,Dummy Classifier,0.9485,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.175

In [34]:
print(best_model)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=123, verbose=0,
                     warm_start=False)

In [35]:
#Fine tune the created model
tuned_model = tune_model(best_model)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9176  0.9216  0.7394  0.3571  0.4817  0.4427  0.4775
1       0.9530  0.9269  0.6197  0.5399  0.5770  0.5523  0.5537
2       0.9456  0.9218  0.7163  0.4810  0.5755  0.5477  0.5601
3       0.9559  0.9139  0.6667  0.5595  0.6084  0.5852  0.5877
4       0.9358  0.9329  0.7163  0.4262  0.5344  0.5023  0.5219
5       0.9537  0.9262  0.7376  0.5361  0.6209  0.5969  0.6055
6       0.9562  0.9157  0.6099  0.5695  0.5890  0.5659  0.5663
7       0.9445  0.9208  0.7092  0.4739  0.5682  0.5398  0.5523
8       0.9467  0.9063  0.6312  0.4863  0.5494  0.5216  0.5266
9       0.9580  0.9207  0.6620  0.5839  0.6205  0.5983  0.5997
Mean    0.9467  0.9207  0.6808  0.5013  0.5725  0.5453  0.5551
Std     0.0117  0.0070  0.0466  0.0674  0.0406  0.0453  0.0370

In [36]:
df_test = pd.read_csv('test.csv')
df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,0,1,1,0,0,0,0,0
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,0,1,0,0,0,0,0,0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,0,0,1,0,0,0,0,0
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,0
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,0,1,1,1,0,0,1,0

In [37]:
df_test['created_at'] = pd.to_datetime(df_test['created_at'], format = "%Y-%m-%d")
df_test['signup_date'] = pd.to_datetime(df_test['signup_date'], format = "%Y-%m-%d")

df_test['created_at_years'] = df_test['created_at'].dt.year
df_test['created_at_month'] = df_test['created_at'].dt.month
df_test['created_at_week'] = df_test['created_at'].dt.week
df_test['created_at_day'] = df_test['created_at'].dt.day
df_test['created_at_dayofweek'] = df_test['created_at'].dt.dayofweek

df_test['signup_date_year'] = df_test['signup_date'].dt.year
df_test['signup_date_month'] = df_test['signup_date'].dt.month
df_test['signup_date_week'] = df_test['signup_date'].dt.week
df_test['signup_date_at_day'] = df_test['signup_date'].dt.day
df_test['signup_date_at_dayofweek'] = df_test['signup_date'].dt.dayofweek

df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,2022,1,52,1,5,2021.0,8.0,33.0,17.0,1.0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,2022,1,52,1,5,2020.0,5.0,21.0,21.0,3.0
2,39164,2022-01-01,8,7,NaN,NaT,0,0,0,0,...,2022,1,52,1,5,NaN,NaN,NaN,NaN,NaN
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,2022,1,52,1,5,2020.0,6.0,26.0,22.0,0.0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,2022,1,52,1,5,2021.0,3.0,10.0,10.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,2022,3,13,30,2,2022.0,3.0,11.0,19.0,5.0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,2022,3,13,30,2,2021.0,8.0,32.0,15.0,6.0
13182,52344,2022-03-30,14,10,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN
13183,52345,2022-03-30,13,13,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN

In [40]:
#Predictions with best_model (Adaboost in this case)
predictions = predict_model(tuned_model, data = df_test, raw_score = True)
predictions

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek,Label,Score_0,Score_1
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,1,5,2021.0,8.0,33.0,17.0,1.0,1,0.4163,0.5837
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,1,5,2020.0,5.0,21.0,21.0,3.0,0,0.8792,0.1208
2,39164,2022-01-01,8,7,NaN,NaT,0,0,0,0,...,1,5,NaN,NaN,NaN,NaN,NaN,0,0.9386,0.0614
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,1,5,2020.0,6.0,26.0,22.0,0.0,1,0.0709,0.9291
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,1,5,2021.0,3.0,10.0,10.0,2.0,0,0.9044,0.0956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.9516,0.0484
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,30,2,2022.0,3.0,11.0,19.0,5.0,0,0.9114,0.0886
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,30,2,2021.0,8.0,32.0,15.0,6.0,0,0.8844,0.1156
13182,52344,2022-03-30,14,10,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.9638,0.0362
13183,52345,2022-03-30,13,13,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.9638,0.0362

In [41]:
#Creating Submission file for Hackathon
pred = pd.DataFrame()
pred[['id','buy']] = predictions[['id','Label']]
pred[['id','buy']].to_csv('output_v4_2.csv',index = False)